body{
    background-color: #1e0b2e;
}

#text{
    color: #af6dff;
}

#navBar{
    border-right: 1px solid #442c61;
    border-style: groove;
}

#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    border-radius:50%;
    object-fit:fill;
}